<!doctype html>

<head>
    <style>
        .nav_ul {
            list-style-type: none;
            margin: 0;
            padding: 0em;
            overflow: hidden;
            background-color: #18181B;
            align-items: center;
        }
        
        .nav_ul>li {
            margin: 1em;
            display: inline-block;
        }
    </style>
    <script>
        // On page load or when changing themes, best to add inline in `head` to avoid FOUC
        if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                    document.documentElement.classList.add('dark');
                } else {
                    document.documentElement.classList.remove('dark');
                }

        // Include Tailwind CSS via CDN
        document.write('<script src="https://cdn.tailwindcss.com"><\/script>');
    </script>
</head>
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
<title>{% block title %}{% endblock %} - HPC Helper</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='main.js') }}"></script>
<!--
<nav>
    <ul class="nav_ul">
        <li>{{self.title()}} -<a href="{{ url_for('index') }}"> HPC helper</a></li>
        {% if session.logged_in %}
        <li><a href="{{url_for('posts.post',name = 'ssh_help')}}">SSH help</a></li>
        <li><a href="{{ url_for('auth.logout') }}">Log out</a></li>
        {% else %}
        <li><a href="{{ url_for('auth.login') }}">Log in</a></li>
        {% endif %}
    </ul>
</nav>
-->
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %} <div class="mt-8 overscroll-auto">{% block content %}{% endblock %}</div>
</section>