{% extends 'base.html' %}

{% block title %}Index{% endblock %}


{% block content %}

<p>
    <h2>Slurm GUI</h2>
        <div class="indent">
        <li><a href="{{url_for('slurm.slurm')}}">Slurm</a></li>
    </div>
    <h2>Monitoring</h2>
        <div class="indent">
        <li><a href="http://ncc.clients.dur.ac.uk/grafana/d/5UwAWAzWk/slurm-jobs?orgId=1&var-job=All&from=now-6h&to=now" target="_blank">NCC Performance</a></li>
    </div>
    <h2>Documentation</h2>
        <div class="indent">
        <li><a href="https://ncc1.clients.dur.ac.uk/" target="_blank">NCC @ Durham</a></li>
        <li><a href="https://bede-documentation.readthedocs.io/en/latest/" target="_blank">Bede</a></li>
    </div>
</p>

{% endblock %}